@use "../../style/variables" as v;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: v.$header-width;
  height: 100vh;
  background: v.$color-6;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
  
h1 {
  font-family:"Audiowide", sans-serif;
  font-size: x-large;

}

.description {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  border: 0.4rem solid;
  border-image: linear-gradient(to bottom left, v.$color-3, v.$color-4) 1;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.contactes {
  font-size: 2rem;
  a {
    color: v.$color-3;
    text-decoration: none;
    cursor: url('../../../public/images/cursor/lightning-bolt-pixel-art-free-vector\ -\ Modifié.png'), pointer;
  }
}

.partenaires {
    display: flex;
    gap: 2rem;
    justify-content: center;
    img {
      width: 30%;
      object-fit: contain;
    margin: 2rem;
    }
  }

  div:last-child {
    margin-top: auto;
  }
