@use "../../variables" as v;

.div1, .div3, .div5, .div7  {
  display: flex;
  justify-content: flex-end;   
  align-items: center;
}

.items {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: v.$color-3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  &:before {
    content: "";
    position: absolute;
    background-image: url('./public/images/logos/bulb.svg');
    background-size: 6rem;
    background-repeat: repeat;
    pointer-events: none;
    opacity: 0.1;
    inset: 0;
    z-index: 0;
  }
}

.items-head p{
  color: v.$color-4;
  font-family: v.$font-f2;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 2rem 5rem 1rem 5rem;
  border-bottom: 0.2rem solid v.$color-5;
  padding-bottom: 1rem;
  z-index: 1;
}

.items-body {
  display: grid;
  grid-gap: 1rem;
  background-color: v.$color-3;
  padding: 1rem 5rem;
}

.items-body-content {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  padding: 1rem 1rem;
  background-color: v.$color-1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 0.1rem solid transparent;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: v.$font-f1;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.items-body-content:hover {
  border: 0.1rem solid v.$color-6;
  transform: scale(1.05);
}

.items-body-content i {
  color: v.$color-4;
  background-color: v.$color-2;
  border-radius: 2rem;
  padding: 0rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}
  @keyframes icon {
    0%,100%{
      transform: translate(0rem);
    }
    50% {
      transform: translate(1rem);
    }
  }

.highlight {
  background-color: v.$color-6;
    // background: linear-gradient(-120deg, v.$color-5 0%, v.$color-6 20%, v.$color-6 100%);
  transition: background 0.3s;
}