@use "../../variables" as v;

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 3;
  scale: 95%;
  // padding: 1rem;
}

.div2, .div4, .div6, .div8 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
