$header-width: 20%;


// panel electro ice
$color-1: #F7FFFF;
$color-2: #7DF9FF;
$color-3: #1793C3;
$color-4: #0D2231;
$color-5: #FFFF47;
$color-6: #FFBA00;

// panel electro fire
// $color-1: #F7FFFF;
// $color-2: #FFFF5C;
// $color-3: #F8CA12;
// $color-4: #2B1F12;
// $color-5: #20B2AA;
// $color-6: #0070BB;
